# Unity generated folders
Library/
Temp/
obj/
**/obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.nuget.*

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Addressables
Assets/AddressableAssetsData/*/*.bin*
